<%- include("header") -%>
    <div class="pages">
        <h1 class="jheading">About us</h1>
        <p class="jrnl">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ducimus odit saepe nisi voluptatum ut,
            atque quae
            labore dicta quasi rerum quia accusantium tempore sed iste. Vero voluptate magnam quos temporibus?</p>
    </div>
    <%- include("footer") -%>