<%- include("header") -%>
    <div class="compose">
        <h2>Compose.</h2>
        <form action="/" method="post" id="compose_form">
            <input type="text" name="cheading" class="com_form" placeholder="Heading"><br>
            <textarea name="cjournal" cols="30" rows="10" class="com_form"
                placeholder="Write Your Journal Here."></textarea><br>
            <button type="submit" class="com_form">Publish</button>
        </form>

    </div>
    <%- include("footer") -%>






        <!-- <table class="ctable">
        <form action="/" method="post">
            <tr>
                <td>
                    <h2 style="text-align: center;" class="cjheading">Write your Journal.</h2>
                </td>
            </tr>
            <tr>
                <td class="ctd">
                    <input type="text" class="cheading" placeholder="Heading" name="cheading">
                </td>
            </tr>
            <tr>
                <td class="ctd">
                    <textarea name="cjournal" class="cjournal" cols="30" rows="10"
                        placeholder="Write your Journal Here"></textarea>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit" id="composesubmit">Submit</button>
                </td>
            </tr>
        </form>


    </table> -->