<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Daily Journal</title>
</head>
<header>
    <span id="heading">DAILY JOURNAL</span>
    <ul>
        <li><a href="/" class="header_anchor">HOME</a></li>
        <li><a href="/about" class="header_anchor">ABOUT US</a></li>
        <li><a href="/contact" class="header_anchor">CONTACT US</a></li>
    </ul>
</header>

</html>