<%- include("header") -%>
    <div class="pages">
        <h1 class="jheading">
            <%= heading %>
        </h1>
        <h2 class="jrnl">
            <%= journal %>
        </h2>
    </div>
    <%- include("footer") -%>